.container {
	height: 100vh;
	display: flex;
	align-items: center;
}

.start-screen,
.score-container {
	position: static;
	width: 80%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 200px 0;
	background-color: #faeded;
	text-align: center;
	border: solid 1px var(--red);
	border-radius: 10px;
}

.start-screen h1 {
	margin-bottom: 30px;
	font-size: 50px;
}

.quiz-btn {
	border: none;
	outline: none;
	cursor: pointer;
}

#start-btn,
#restart-btn {
	font-size: 20px;
	padding: 8px 28px;
	border-radius: 12px;
	background-color: var(--red);
	font-weight: 500;
	color: white;
}

#start-btn:hover,
#restart-btn:hover {
	background-color: var(--brown);

}

#restart {
	margin-top: 14px;
}

#display-container {
	background-color: #faeded;
	padding: 75px 28px;
	width: 80%;
	height: 600px;
	max-width: 600px;
	margin: 20px auto;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 55%;
	left: 50%;
	border: solid 1px var(--brown);
	border-radius: 10px;
	animation: opacity-0-1 2500ms;
}

@keyframes opacity-0-1 {
	0% {
		opacity: 0;

	}

	100% {
		opacity: 1;
	}
}

@keyframes opacity-1-0 {
	0% {
		opacity: 1;

	}

	100% {
		opacity: 0;
	}
}

.header {
	margin-bottom: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 2px solid var(--brown);
}

.timer-div {
	background-color: var(--brown);
	color: white;
	width: 120px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 28px;
}

.timer-left {
	margin-left: 5px;
}

.question {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 20px;
}

.option-div {
	font-size: 16px;
	width: 100%;
	padding: 16px;
	margin: 6px 0;
	text-align: left;
	outline: none;
	background: transparent;
	border: 1px solid var(--dark-brown);
	border-radius: 8px;
	cursor: pointer;
}

.option-div:hover {
	transition: 180ms;
	border: 2px solid var(--red);
	font-size: 17px;
}

.option-div:disabled {
	cursor: not-allowed;

}

#next-btn {
	font-size: 16px;
	color: white;
	margin-top: 25px;
	background-color: var(--brown);
	padding: 8px 32px;
	float: right;
	border-radius: 8px;
}

#next-btn:hover {
	background-color: var(--dark-brown);
}

.hide {
	animation: opacity-1-0 2500ms;
	display: none;

}

.incorrect {
	background-color: #ffdde0;
	color: red;
	border-color: red;
}

.correct {
	background-color: #e7f6d5;
	color: rgb(0, 130, 0);
	border-color: rgb(0, 130, 0);
}


#user-score {
	font-size: 24px;
	margin-bottom: 20px;
}