.container{
    padding-top: 140px;
    height: 90vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1{
    margin-bottom: 20px;
}
.detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.students {
    padding-top: 40px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.student-container{
    position: relative;
    overflow: hidden;
}
@keyframes grow {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}
@keyframes decrease {
    0% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(0)
    }
}
.student-container:hover .overlay{
    
    visibility: visible;
    animation: grow 500ms ease;
    transform-origin: bottom center;
    
}
.student-container:hover img{
    transition: 500ms;
    transform: scale(1.2);
}
.student-img img{
    width: 250px;
    height: 333px;
    object-fit: cover;
    transition: 500ms ;
}

.student-img{
    width: 250px;
    height: auto;
}

.overlay{
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    width: 250px;
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    transition: 500ms;
    visibility: hidden;
    animation: decrease 500ms ease;
    transform-origin: bottom;
    
}

.overlay h2{
    margin-top: 10px;
}
.overlay a{
    text-decoration: none;
}
.about-btn{
    opacity: 1;
    cursor: pointer;
    margin-top: 10px;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    background-color: var(--brown);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.about-btn:hover{
    background-color: var(--dark-brown);
}


@media screen and (max-width: 1150px) {
    .students {
      grid-template-columns: repeat(2, 1fr);
    }
    .container{
        height: 140vh;
    }
}

@media screen and (max-width: 600px) {
    .students {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        height: 240vh;
    }
}



